@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background: gray;
} */

.video-player-container {
  position: relative;
}

.loader {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 4px;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .note-section {
    scrollbar-width: 0;
    scrollbar-color: #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .note-section::-webkit-scrollbar {
    width: 0;
  }

